header {
    position: static;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20vw;
    z-index: 3;
}

.light header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.5) 17.36%, rgba(255, 255, 255, 0.5) 82.64%,
    rgba(255, 255, 255, 0.3) 100%);
    backdrop-filter: blur(5px);
    color: var(--main-text-color);
}

.dark header {
    background: linear-gradient(90deg, rgba(170, 170, 170, 0.3) 0%, rgba(83, 83, 83, 0.5) 17.36%, rgba(89, 89, 89, 0.5) 82.64%, rgba(95, 95, 95, 0.3) 100%);
    backdrop-filter: blur(5px);

    color: var(--white-text-color);
}

.header__heading {
    font-size: 18px;
    font-style: normal;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.light header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    font-weight: 200;
    color: var(--inactive-main-text-color);
}

.dark header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    font-weight: 200;
    color: var(--inactive-white-text-color);
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
    transition: all .15s ease-in;
}

header nav img {
    padding: 10px;
}

.light header nav img {
    color: var(--inactive-main-text-color)
}

.dark header nav img {
    color: var(--inactive-white-text-color)
}

header nav img:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.light header nav img:hover {
    background-color: var(--inactive-main-text-color);
}

.dark header nav img:hover {
    background-color: var(--inactive-white-text-color);
}

.light header nav a:hover {
    background-color: var(--inactive-main-text-color);
    color: var(--white-text-color);
}

.dark header nav a:hover {
    background-color: var(--inactive-white-text-color);
    color: var(--main-text-color);
}

.nav__active {
    font-weight: 500;
}

.light .nav__active {
    color: var(--main-text-color);
}

.dark .nav__active {
    color: var(--white-text-color);
}

#hamburger {
    display: none;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-clip: border-box;
    min-height: 15px;
    min-width: 24px;
}

.light #hamburger[data-state="closed"] {
    background-image: url("/icons/white-theme-burger.svg");
}

.dark #hamburger[data-state="closed"] {
    background-image: url("/icons/dark-theme-burger.svg");
}

.light #hamburger[data-state="open"] {
    width: 25px;
    height: 25px;
    background-image: url("/icons/white-theme-close-burger.svg");
}

.dark #hamburger[data-state="open"] {
    width: 25px;
    height: 25px;
    background-image: url("/icons/dark-theme-close-burger.svg");
}

.hamburger-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
}

.light .hamburger-menu {
    color: var(--main-text-color);
}

.dark .hamburger-menu {
    color: var(--white-text-color);
}

.hamburger-menu nav {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

#change-theme, #change-theme-alt {
    height: 20px;
    width: 20px;
}

#change-theme:hover, #change-theme-alt:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.light #change-theme, .light #change-theme-alt  {
    background-image: url("/icons/sun.svg");
}

.dark #change-theme, .dark #change-theme-alt {
    background-image: url("/icons/moon.svg");
}

#change-theme {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1459px) {
    header {
        padding: 0 15vw;
    }
}
@media (max-width: 1168px) {
    #hamburger {
        display: flex;
    }

    header nav {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    header {
        min-height: 48px;
    }
}

@media (max-width: 510px) {
    header {
        padding: 0 10vw;
    }
}


@media (max-height: 700px) {
    .hamburger-menu nav {
        padding-top: 50px;
    }
}

@media (max-height: 340px) {
    .hamburger-menu nav {
        flex-direction: row;
        flex-wrap: wrap;
    }
}