@import url("header.css");
@import url("mainPageBody.css");
@import url("footer.css");
@import url("variables.css");
@import url("fonts.css");




body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.dark {
    background: radial-gradient(36.21% 85.02% at 100% 100%, rgba(77, 61, 99, 0.2) 0%, rgba(4, 4, 5, 0) 100%),
    radial-gradient(23.16% 37.86% at 5.07% 3.93%, rgba(118, 166, 210, 0.2) 0%, rgba(58, 65, 80, 0) 100%, rgba(58, 65, 80, 0) 100%,
    rgba(58, 65, 80, 0) 100%), #1A1E1F;
    background-repeat: no-repeat;
}

.light {
    background: radial-gradient(45.14% 67.92% at 100% 60.52%, rgba(194, 149, 233, 0.6) 0.01%,
    rgba(208, 192, 222, 0) 100%, rgba(208, 192, 222, 0) 100%),
    radial-gradient(29.06% 47.88% at -1.18% -2.51%, rgba(27, 143, 227, 0.79) 0%,
    rgba(64, 156, 222, 0.02) 80.21%),
    linear-gradient(116.82deg, #CDCDCD 0%, #DEDEDE 100%);
    background-repeat: no-repeat;
}


a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, span, textarea {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.hidden {
    display: none !important;
}

.btn {
    transition: all .1s ease-in-out;
    height: 30px;
    padding: 0 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.btn:hover {
    cursor: pointer;
}

.dark .filled {
    outline: none;
    border: none;
    background-color: var(--secondary-white-text-color);
    color: var(--main-text-color);
}

.light .filled {
    outline: none;
    border: none;
    background-color: var(--secondary-text-color);
    color: var(--white-text-color);
}

.dark .transparent {
    outline: none;
    background-color: transparent;
    border: .8px solid var(--white-text-color);
    color: var(--white-text-color);
}

.light .transparent {
    outline: none;
    background-color: transparent;
    border: .8px solid var(--main-text-color);
    color: var(--main-text-color);
}


@media (max-width: 1000px) {
    .btn {
        padding: 0 20px;
        min-width: 50px !important;
        font-size: 12px;
        max-width: 100%;
        width: 100%;
        white-space: nowrap;
    }
}