main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: fit-content;
    padding: 10vh 20vw;
    gap: 10vh;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.body__headings {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.dark .body__headings {
    color: var(--white-text-color);
}

.light .body__headings {
    color: var(--main-text-color);

}

.light #code-icon {
    background-image: url("/icons/cardIcons/light-code.svg");
}

.dark #code-icon {
    background-image: url("/icons/cardIcons/dark-code.svg");
}

.light #graph-icon {
    background-image: url("/icons/cardIcons/light-graph.svg");
}

.dark #graph-icon {
    background-image: url("/icons/cardIcons/dark-graph.svg");
}

.light #fill-icon {
    background-image: url("/icons/cardIcons/light-fill.svg");
}

.dark #fill-icon {
    background-image: url("/icons/cardIcons/dark-fill.svg");
}

.headings__labels {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.dark .headings__labels {
    color: var(--white-text-color);
}

.light .headings__labels {
    color: var(--main-text-color);
}

.headings__main-heading {
    transition: all .1s ease-in-out;
    font-size: 40px;
    font-weight: 500;
}

.headings__secondary-heading {
    transition: all .1s ease-in-out;
    font-size: 25px;
    font-weight: 400;
}

.body__cards {
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1vh;
}

.cards__card {
    transition: all .1s ease-in-out;
    font-family: 'Open Sans Light', sans-serif;
    height: 250px;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 15px 17px;
    border-radius: 10px;
}

.card__header {
    font-family: "Open Sans Regular", sans-serif;
    width: 100%;
    flex-direction: left;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.cards__card .btn {
    width: 100%;
}

.card__body {
    font-size: 14px;
}

.light .cards__card {
    background-color: var(--main-container-color);
    color: var(--main-text-color);
}
.dark .cards__card {
    background-color: var(--dark-container-color);
    color: var(--white-text-color);
}

.card__icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 1800px) {
    .card__body {
        font-size: 18px;
    }
    .card__header {
        font-size: 23px;
    }
}

@media (max-width: 1459px) {
    main {
        padding: 5vh 15vw;
    }
}


@media (max-width: 1168px) {
    main {
        gap: 2vh;
    }
    .headings__main-heading {
        font-size: 30px;
    }

    .headings__secondary-heading {
        font-size: 18px;
    }

    .body__cards {
        flex-direction: column;
    }
    .cards__card{
        max-height: 100%;
        height: 100%;
        width: 100%;
        gap: 15px;
    }
    .card__body {
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cards__card .btn {
        min-height: 30px;
        width: 100% !important;
    }
}


@media (max-width: 510px) {
    main {
        padding: 5vh 10vw;
    }
}