:root {
    --main-text-color: #2D2D2D;
    --white-text-color: #DEDEDE;
    --secondary-white-text-color: #BFBFBF;
    --inactive-main-text-color: #737373;
    --secondary-text-color: #393939;
    --tertiary-text-color: #5C5C5C;
    --main-container-color: rgba(255, 255, 255, .3);
    --white-text-inactive-color: #8C8C8C;
    --tertiary-white-text-color: #A1A1A1;
    --dark-container-color: #2B2D30;
    --inactive-white-text-color: #aaaaaa;
}